h1{
    text-align: center;
}

table{
    width: 65%;
    margin: 10px auto;
    text-align: center;
}

th{
    background-color: burlywood;
    height: 26px;

}

td{
    border: 1px solid silver;
}

tr:hover{
    background-color:rgb(231, 229, 227);
}